Titanic Project Proposal: Will a Passenger Survive? 

Group 33 Members: Chloe Vaughan, Susan Zhang, James Drover, Olivia Klassen, and Adeeb Khan

Introduction

The RMS Titanic sank 5 days into her first trip in the Atlantic Ocean. Less than half of the passengers survived, and of those passengers,  many factors may have contributed to their survival or demise. In this project, we will read, wrangle, and classify the passengers data in order to predict if a given passenger would have been likely to die in the accident. We will also create visualizations to illustrate which variables may have played the biggest role in the survival of passengers and crew. Visualizations will be used to determine which predictor variables are of importance. 

Question: Given the observations for each predictor variable, will a passenger survive the incident (specify variables for predicigtons) be more specific, include questions on graphs.

In [1]:
library(tidyverse)
library(tidymodels)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.4.0      ✔ purrr   1.0.0
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.5.0
✔ readr   2.1.3      ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
boat_data <- read_csv("data/train.csv")
boat_data

Rows: 891 Columns: 12
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (5): Name, Sex, Ticket, Cabin, Embarked
dbl (7): PassengerId, Survived, Pclass, Age, SibSp, Parch, Fare

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    PassengerId Survived Pclass
1    1          0        3
2    2          1        1
3    3          1        3
4    4          1        1
5    5          0        3
6    6          0        3
7    7          0        1
8    8          0        3
9    9          1        3
10  10          1        2
11  11          1        3
12  12          1        1
13  13          0        3
14  14          0        3
15  15          0        3
16  16          1        2
17  17          0        3
18  18          1        2
19  19          0        3
20  20          1        3
21  21          0        2
22  22          1        2
23  23          1        3
24  24          1        1
25  25          0        3
26  26          1        3
27  27          0        3
28  28          0        1
29  29          1        3
30  30          0        3
⋮   ⋮           ⋮        ⋮
862 862         0        2
863 863         1        1
864 864         0        3
865 865         0        2
866 866         1        2
867 867         1        2
868 868         0        1
869 869         0        3
870 870         1        3
871 871         0        3
872 872         1        1
873 873         0        1
874 874         0        3
875 875         1        2
876 876         1        3
877 877         0        3
878 878         0        3
879 879         0        3
880 880         1        1
881 881         1        2
882 882         0        3
883 883         0        3
884 884         0        2
885 885         0        3
886 886         0        3
887 887         0        2
888 888         1        1
889 889         0        3
890 890         1        1
891 891         0        3
    Name                                                      Sex    Age SibSp
1   Braund, Mr. Owen Harris                                   male   22  1
2   Cumings, Mrs. John Bradley (Florence Briggs Thayer)       female 38  1
3   Heikkinen, Miss. Laina                                    female 26  0
4   Futrelle, Mrs. Jacques Heath (Lily May Peel)              female 35  1
5   Allen, Mr. William Henry                                  male   35  0
6   Moran, Mr. James                                          male   NA  0
7   McCarthy, Mr. Timothy J                                   male   54  0
8   Palsson, Master. Gosta Leonard                            male    2  3
9   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)         female 27  0
10  Nasser, Mrs. Nicholas (Adele Achem)                       female 14  1
11  Sandstrom, Miss. Marguerite Rut                           female  4  1
12  Bonnell, Miss. Elizabeth                                  female 58  0
13  Saundercock, Mr. William Henry                            male   20  0
14  Andersson, Mr. Anders Johan                               male   39  1
15  Vestrom, Miss. Hulda Amanda Adolfina                      female 14  0
16  Hewlett, Mrs. (Mary D Kingcome)                           female 55  0
17  Rice, Master. Eugene                                      male    2  4
18  Williams, Mr. Charles Eugene                              male   NA  0
19  Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)   female 31  1
20  Masselmani, Mrs. Fatima                                   female NA  0
21  Fynney, Mr. Joseph J                                      male   35  0
22  Beesley, Mr. Lawrence                                     male   34  0
23  McGowan, Miss. Anna "Annie"                               female 15  0
24  Sloper, Mr. William Thompson                              male   28  0
25  Palsson, Miss. Torborg Danira                             female  8  3
26  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson) female 38  1
27  Emir, Mr. Farred Chehab                                   male   NA  0
28  Fortune, Mr. Charles Alexander                            male   19  3
29  O'Dwyer, Miss. Ellen "Nellie"                             female NA  0
30  Todoroff, Mr. Lalio                                       male   NA  0
⋮   ⋮                                                         ⋮      ⋮   ⋮
862 Giles, Mr. Frederick Edward                               male   21  1
863 Swift, Mrs. Frederick Joel (Margaret Welles Barron)       female 48  0
864 Sage, Miss. Dorothy Edith "Dolly"                         female NA  8
865 Gill, Mr. John William                                    male   24  0
866 Bystrom, Mrs. (Karolina)                                  female 42  0
867 Duran y More, Miss. Asuncion                              female 27  1
868 Roebling, Mr. Washington Augustus II                      male   31  0
869 van Melkebeke, Mr. Philemon                               male   NA  0
870 Johnson, Master. Harold Theodor                           male    4  1
871 Balkic, Mr. Cerin                                         male   26  0
872 Beckwith, Mrs. Richard Leonard (Sallie Monypeny)          female 47  1
873 Carlsson, Mr. Frans Olof                                  male   33  0
874 Vander Cruyssen, Mr. Victor                               male   47  0
875 Abelson, Mrs. Samuel (Hannah Wizosky)                     female 28  1
876 Najib, Miss. Adele Kiamie "Jane"                          female 15  0
877 Gustafsson, Mr. Alfred Ossian                             male   20  0
878 Petroff, Mr. Nedelio                                      male   19  0
879 Laleff, Mr. Kristo                                        male   NA  0
880 Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)             female 56  0
881 Shelley, Mrs. William (Imanita Parrish Hall)              female 25  0
882 Markun, Mr. Johann                                        male   33  0
883 Dahlberg, Miss. Gerda Ulrika                              female 22  0
884 Banfield, Mr. Frederick James                             male   28  0
885 Sutehall, Mr. Henry Jr                                    male   25  0
886 Rice, Mrs. William (Margaret Norton)                      female 39  0
887 Montvila, Rev. Juozas                                     male   27  0
888 Graham, Miss. Margaret Edith                              female 19  0
889 Johnston, Miss. Catherine Helen "Carrie"                  female NA  1
890 Behr, Mr. Karl Howell                                     male   26  0
891 Dooley, Mr. Patrick                                       male   32  0
    Parch Ticket           Fare     Cabin       Embarked
1   0     A/5 21171          7.2500 NA          S
2   0     PC 17599          71.2833 C85         C
3   0     STON/O2. 3101282   7.9250 NA          S
4   0     113803            53.1000 C123        S
5   0     373450             8.0500 NA          S
6   0     330877             8.4583 NA          Q
7   0     17463             51.8625 E46         S
8   1     349909            21.0750 NA          S
9   2     347742            11.1333 NA          S
10  0     237736            30.0708 NA          C
11  1     PP 9549           16.7000 G6          S
12  0     113783            26.5500 C103        S
13  0     A/5. 2151          8.0500 NA          S
14  5     347082            31.2750 NA          S
15  0     350406             7.8542 NA          S
16  0     248706            16.0000 NA          S
17  1     382652            29.1250 NA          Q
18  0     244373            13.0000 NA          S
19  0     345763            18.0000 NA          S
20  0     2649               7.2250 NA          C
21  0     239865            26.0000 NA          S
22  0     248698            13.0000 D56         S
23  0     330923             8.0292 NA          Q
24  0     113788            35.5000 A6          S
25  1     349909            21.0750 NA          S
26  5     347077            31.3875 NA          S
27  0     2631               7.2250 NA          C
28  2     19950            263.0000 C23 C25 C27 S
29  0     330959             7.8792 NA          Q
30  0     349216             7.8958 NA          S
⋮   ⋮     ⋮                ⋮        ⋮           ⋮
862 0     28134            11.5000  NA          S
863 0     17466            25.9292  D17         S
864 2     CA. 2343         69.5500  NA          S
865 0     233866           13.0000  NA          S
866 0     236852           13.0000  NA          S
867 0     SC/PARIS 2149    13.8583  NA          C
868 0     PC 17590         50.4958  A24         S
869 0     345777            9.5000  NA          S
870 1     347742           11.1333  NA          S
871 0     349248            7.8958  NA          S
872 1     11751            52.5542  D35         S
873 0     695               5.0000  B51 B53 B55 S
874 0     345765            9.0000  NA          S
875 0     P/PP 3381        24.0000  NA          C
876 0     2667              7.2250  NA          C
877 0     7534              9.8458  NA          S
878 0     349212            7.8958  NA          S
879 0     349217            7.8958  NA          S
880 1     11767            83.1583  C50         C
881 1     230433           26.0000  NA          S
882 0     349257            7.8958  NA          S
883 0     7552             10.5167  NA          S
884 0     C.A./SOTON 34068 10.5000  NA          S
885 0     SOTON/OQ 392076   7.0500  NA          S
886 5     382652           29.1250  NA          Q
887 0     211536           13.0000  NA          S
888 0     112053           30.0000  B42         S
889 2     W./C. 6607       23.4500  NA          S
890 0     111369           30.0000  C148        C
891 0     370376            7.7500  NA          Q

In [3]:
#getting rid of PassengerId,Name, Embarked,Ticket and Cabin:
boat_data_selected <- boat_data |>
    select(-PassengerId, -Name, -Embarked, -Ticket, -Cabin)
boat_data_selected

    Survived Pclass Sex    Age SibSp Parch Fare
1   0        3      male   22  1     0       7.2500
2   1        1      female 38  1     0      71.2833
3   1        3      female 26  0     0       7.9250
4   1        1      female 35  1     0      53.1000
5   0        3      male   35  0     0       8.0500
6   0        3      male   NA  0     0       8.4583
7   0        1      male   54  0     0      51.8625
8   0        3      male    2  3     1      21.0750
9   1        3      female 27  0     2      11.1333
10  1        2      female 14  1     0      30.0708
11  1        3      female  4  1     1      16.7000
12  1        1      female 58  0     0      26.5500
13  0        3      male   20  0     0       8.0500
14  0        3      male   39  1     5      31.2750
15  0        3      female 14  0     0       7.8542
16  1        2      female 55  0     0      16.0000
17  0        3      male    2  4     1      29.1250
18  1        2      male   NA  0     0      13.0000
19  0        3      female 31  1     0      18.0000
20  1        3      female NA  0     0       7.2250
21  0        2      male   35  0     0      26.0000
22  1        2      male   34  0     0      13.0000
23  1        3      female 15  0     0       8.0292
24  1        1      male   28  0     0      35.5000
25  0        3      female  8  3     1      21.0750
26  1        3      female 38  1     5      31.3875
27  0        3      male   NA  0     0       7.2250
28  0        1      male   19  3     2     263.0000
29  1        3      female NA  0     0       7.8792
30  0        3      male   NA  0     0       7.8958
⋮   ⋮        ⋮      ⋮      ⋮   ⋮     ⋮     ⋮
862 0        2      male   21  1     0     11.5000
863 1        1      female 48  0     0     25.9292
864 0        3      female NA  8     2     69.5500
865 0        2      male   24  0     0     13.0000
866 1        2      female 42  0     0     13.0000
867 1        2      female 27  1     0     13.8583
868 0        1      male   31  0     0     50.4958
869 0        3      male   NA  0     0      9.5000
870 1        3      male    4  1     1     11.1333
871 0        3      male   26  0     0      7.8958
872 1        1      female 47  1     1     52.5542
873 0        1      male   33  0     0      5.0000
874 0        3      male   47  0     0      9.0000
875 1        2      female 28  1     0     24.0000
876 1        3      female 15  0     0      7.2250
877 0        3      male   20  0     0      9.8458
878 0        3      male   19  0     0      7.8958
879 0        3      male   NA  0     0      7.8958
880 1        1      female 56  0     1     83.1583
881 1        2      female 25  0     1     26.0000
882 0        3      male   33  0     0      7.8958
883 0        3      female 22  0     0     10.5167
884 0        2      male   28  0     0     10.5000
885 0        3      male   25  0     0      7.0500
886 0        3      female 39  0     5     29.1250
887 0        2      male   27  0     0     13.0000
888 1        1      female 19  0     0     30.0000
889 0        3      female NA  1     2     23.4500
890 1        1      male   26  0     0     30.0000
891 0        3      male   32  0     0      7.7500

In [4]:
#renaming columns

colnames(boat_data_selected) = c("Survived", "Passenger_Class", "Sex", "Age", "Number0fSiblings", "NumberofParents_children", "Fare")

In [5]:
#adding a column for sex in binary(for it to work with the knn model)

boat_data_binary <- boat_data_selected |>
    mutate(sex_binary = ifelse(Sex == "male", 1, ifelse(Sex == "female", 0, NA)))
nrow(boat_data_binary)
boat_data_binary

[1] 891

    Survived Passenger_Class Sex    Age Number0fSiblings
1   0        3               male   22  1
2   1        1               female 38  1
3   1        3               female 26  0
4   1        1               female 35  1
5   0        3               male   35  0
6   0        3               male   NA  0
7   0        1               male   54  0
8   0        3               male    2  3
9   1        3               female 27  0
10  1        2               female 14  1
11  1        3               female  4  1
12  1        1               female 58  0
13  0        3               male   20  0
14  0        3               male   39  1
15  0        3               female 14  0
16  1        2               female 55  0
17  0        3               male    2  4
18  1        2               male   NA  0
19  0        3               female 31  1
20  1        3               female NA  0
21  0        2               male   35  0
22  1        2               male   34  0
23  1        3               female 15  0
24  1        1               male   28  0
25  0        3               female  8  3
26  1        3               female 38  1
27  0        3               male   NA  0
28  0        1               male   19  3
29  1        3               female NA  0
30  0        3               male   NA  0
⋮   ⋮        ⋮               ⋮      ⋮   ⋮
862 0        2               male   21  1
863 1        1               female 48  0
864 0        3               female NA  8
865 0        2               male   24  0
866 1        2               female 42  0
867 1        2               female 27  1
868 0        1               male   31  0
869 0        3               male   NA  0
870 1        3               male    4  1
871 0        3               male   26  0
872 1        1               female 47  1
873 0        1               male   33  0
874 0        3               male   47  0
875 1        2               female 28  1
876 1        3               female 15  0
877 0        3               male   20  0
878 0        3               male   19  0
879 0        3               male   NA  0
880 1        1               female 56  0
881 1        2               female 25  0
882 0        3               male   33  0
883 0        3               female 22  0
884 0        2               male   28  0
885 0        3               male   25  0
886 0        3               female 39  0
887 0        2               male   27  0
888 1        1               female 19  0
889 0        3               female NA  1
890 1        1               male   26  0
891 0        3               male   32  0
    NumberofParents_children Fare     sex_binary
1   0                          7.2500 1
2   0                         71.2833 0
3   0                          7.9250 0
4   0                         53.1000 0
5   0                          8.0500 1
6   0                          8.4583 1
7   0                         51.8625 1
8   1                         21.0750 1
9   2                         11.1333 0
10  0                         30.0708 0
11  1                         16.7000 0
12  0                         26.5500 0
13  0                          8.0500 1
14  5                         31.2750 1
15  0                          7.8542 0
16  0                         16.0000 0
17  1                         29.1250 1
18  0                         13.0000 1
19  0                         18.0000 0
20  0                          7.2250 0
21  0                         26.0000 1
22  0                         13.0000 1
23  0                          8.0292 0
24  0                         35.5000 1
25  1                         21.0750 0
26  5                         31.3875 0
27  0                          7.2250 1
28  2                        263.0000 1
29  0                          7.8792 0
30  0                          7.8958 1
⋮   ⋮                        ⋮        ⋮
862 0                        11.5000  1
863 0                        25.9292  0
864 2                        69.5500  0
865 0                        13.0000  1
866 0                        13.0000  0
867 0                        13.8583  0
868 0                        50.4958  1
869 0                         9.5000  1
870 1                        11.1333  1
871 0                         7.8958  1
872 1                        52.5542  0
873 0                         5.0000  1
874 0                         9.0000  1
875 0                        24.0000  0
876 0                         7.2250  0
877 0                         9.8458  1
878 0                         7.8958  1
879 0                         7.8958  1
880 1                        83.1583  0
881 1                        26.0000  0
882 0                         7.8958  1
883 0                        10.5167  0
884 0                        10.5000  1
885 0                         7.0500  1
886 5                        29.1250  0
887 0                        13.0000  1
888 0                        30.0000  0
889 2                        23.4500  0
890 0                        30.0000  1
891 0                         7.7500  1

In [6]:
#removing the columns with NA values for age.
#we see we only loose about 20 percent of 

boat_data_NA <- boat_data_binary |>
    filter(!is.na(Age))
nrow(boat_data_NA)
boat_data_NA

[1] 714

    Survived Passenger_Class Sex    Age Number0fSiblings
1   0        3               male   22  1
2   1        1               female 38  1
3   1        3               female 26  0
4   1        1               female 35  1
5   0        3               male   35  0
6   0        1               male   54  0
7   0        3               male    2  3
8   1        3               female 27  0
9   1        2               female 14  1
10  1        3               female  4  1
11  1        1               female 58  0
12  0        3               male   20  0
13  0        3               male   39  1
14  0        3               female 14  0
15  1        2               female 55  0
16  0        3               male    2  4
17  0        3               female 31  1
18  0        2               male   35  0
19  1        2               male   34  0
20  1        3               female 15  0
21  1        1               male   28  0
22  0        3               female  8  3
23  1        3               female 38  1
24  0        1               male   19  3
25  0        1               male   40  0
26  0        2               male   66  0
27  0        1               male   28  1
28  0        1               male   42  1
29  0        3               male   21  0
30  0        3               female 18  2
⋮   ⋮        ⋮               ⋮      ⋮   ⋮
685 1        1               female 45  1
686 1        1               male   51  0
687 1        3               female 24  0
688 0        3               male   41  2
689 0        2               male   21  1
690 1        1               female 48  0
691 0        2               male   24  0
692 1        2               female 42  0
693 1        2               female 27  1
694 0        1               male   31  0
695 1        3               male    4  1
696 0        3               male   26  0
697 1        1               female 47  1
698 0        1               male   33  0
699 0        3               male   47  0
700 1        2               female 28  1
701 1        3               female 15  0
702 0        3               male   20  0
703 0        3               male   19  0
704 1        1               female 56  0
705 1        2               female 25  0
706 0        3               male   33  0
707 0        3               female 22  0
708 0        2               male   28  0
709 0        3               male   25  0
710 0        3               female 39  0
711 0        2               male   27  0
712 1        1               female 19  0
713 1        1               male   26  0
714 0        3               male   32  0
    NumberofParents_children Fare     sex_binary
1   0                          7.2500 1
2   0                         71.2833 0
3   0                          7.9250 0
4   0                         53.1000 0
5   0                          8.0500 1
6   0                         51.8625 1
7   1                         21.0750 1
8   2                         11.1333 0
9   0                         30.0708 0
10  1                         16.7000 0
11  0                         26.5500 0
12  0                          8.0500 1
13  5                         31.2750 1
14  0                          7.8542 0
15  0                         16.0000 0
16  1                         29.1250 1
17  0                         18.0000 0
18  0                         26.0000 1
19  0                         13.0000 1
20  0                          8.0292 0
21  0                         35.5000 1
22  1                         21.0750 0
23  5                         31.3875 0
24  2                        263.0000 1
25  0                         27.7208 1
26  0                         10.5000 1
27  0                         82.1708 1
28  0                         52.0000 1
29  0                          8.0500 1
30  0                         18.0000 0
⋮   ⋮                        ⋮        ⋮
685 1                        164.8667 0
686 0                         26.5500 1
687 3                         19.2583 0
688 0                         14.1083 1
689 0                         11.5000 1
690 0                         25.9292 0
691 0                         13.0000 1
692 0                         13.0000 0
693 0                         13.8583 0
694 0                         50.4958 1
695 1                         11.1333 1
696 0                          7.8958 1
697 1                         52.5542 0
698 0                          5.0000 1
699 0                          9.0000 1
700 0                         24.0000 0
701 0                          7.2250 0
702 0                          9.8458 1
703 0                          7.8958 1
704 1                         83.1583 0
705 1                         26.0000 0
706 0                          7.8958 1
707 0                         10.5167 0
708 0                         10.5000 1
709 0                          7.0500 1
710 5                         29.1250 0
711 0                         13.0000 1
712 0                         30.0000 0
713 0                         30.0000 1
714 0                          7.7500 1

In [7]:
#splitting the wrangled data into test and training sets
#we chose a 70-30 percent split to ensure our model is accurate at the same time as making sure the testing is accurate.

boat_split <- initial_split(boat_data_NA, prop = 0.7, strata = Survived)
boat_train <- training(boat_split)
boat_test <- testing(boat_split)

ERROR: Error in initial_split(boat_data_NA, prop = 0.7, strata = Survived): could not find function "initial_split"

In [ ]:
# visualisation (scatter plot) of the Fare vs age of passenger, colouring by sex.

fare_plot <- boat_train |> ggplot(aes(x = Age, y = Fare, colour = Sex)) + 
    geom_point() + 
    labs(x = "Age of passenger", y = "Boat Fare (insert units)", colour = "Sex") +
    ggtitle("Relationship Between Age and Fare Price")

fare_plot

In [ ]:
#bar graph to display how many people survived vs how many did not.(percentage of survival)

temp_data_graph <- boat_train |>
    mutate(Survived_char = ifelse(Survived == 1, "Survived", ifelse(Survived == 0, "Did not survive", NA)))

temp_data_graph

survival_bar_plot <- ggplot(temp_data_graph, aes(x = Sex, fill = as_factor(Survived_char))) +
    geom_bar(position = "fill") +
    labs(x = "Sex of passenger", y = "Percentage of survival", fill = "Survival")

survival_bar_plot

In [ ]:
#summary table for how many men and women are there in the training data.

summary_table_sex <- boat_train |>
    group_by(Sex) |>
    summarize(Number_of_passengers = n())

summary_table_sex

In [8]:
#Adding summary table for age for training data

summary_table_age <- boat_train |>
    summarize(mean_age = mean(Age))

summary_table_age

#adding a summary table for the number of passengers in each class for training data:

summary_table_class <- boat_train |>
    group_by(Passenger_Class) |>
    summarize(Number_of_passengers = n())

summary_table_class

#Adding summary table for parents/children for training data

summary_table_children <- boat_train |>
    summarize(mean_children = mean(NumberofParents_children))

summary_table_children

  mean_age
1 29.69912

  Passenger_Class Number_of_passengers
1 1               186
2 2               173
3 3               355

  mean_children
1 0.4313725